.container{
 display:flex; 
 width:700px;
 margin:20px;
 padding:10px;
 border:solid;
 justify-content:center;
}

img{
 width:200px;   
 height:200px;
 padding:10px;
}

body{
 text-align:center;
 background:red;
 font-family: 'Staatliches', cursive;
}